<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">
            404 Not Found
            <hr />
            <a class="btn btn-outline-success " asp-controller="Item" asp-action="Index">Home Page</a>
        </h1>
    </div>
</div>